<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Informacion desde el excel del acero <%= excel_data['elements_data'][0] %> es FY <%= excel_data['elements_data'][1] %> y FX <%= excel_data['elements_data'][2] %> </p>
  </body>
  <script>
    const excel_data = JSON.parse('<%- JSON.stringify(excel_data) %>');
  </script>
</html>
